<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sims Academy</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="container">
        <aside>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </aside>

        <main>
            <h1>Welcome to the Sims Academy</h1>
            <p>You will learn foundations of Java, OOPs, Spring Boot and Spring MVC here. Below is a link to the registration page:</p>
            <p th:text="${message}">Let's get started</p>
            <p th:href="@{/registration}">Go to Registration Page</p>
        </main>
    </div>

    <footer>
        <p>&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> Sims Academy. All rights reserved.</p>
    </footer>
</body>
</html>